body {
    background-color: unset;
    background: #181818 !important;
}
.under {
    font-size: 20px;
    font-family: "Poppins",sans-serif;
}
.big-header img {
    height: 150px !important;
}
.main-container {
    height: 100vh;
    justify-content: unset;
}

.infos {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
    .info {
        background-color: #1b1b1b;  
        padding: 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        .title {
            font-size: 20px;
            font-family: "Lato",sans-serif;
        }
        .desc {
            padding: 10px;
            border-radius: 5px;
            font-family: "Roboto",sans-serif;
        }
    }
    .info:nth-child(1) svg {
        fill:#B82828;
    }
    .info:nth-child(2) svg {
        fill:#35AB36;
    }
    .info:nth-child(3) svg {
        fill:#E91E63;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Poppins",sans-serif;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.open-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.actions div:not(.contact) {
    padding: 5px;
    background-color: #1b1b1b;
    border-radius: 10px;
    padding-left: 20px;
    cursor: pointer;
    padding-right: 20px;
    transition: background-color 0.4s;
}
.contact {
    width: calc(100% + 40px);
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.contact div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.actions div:not(.contact):hover {
    background-color: rgba(68, 68, 68, 0.5);
}
.actions div svg {
    fill:#E91E63;
    width: 30px;
    height: 30px;
}