@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background: linear-gradient(45deg, rgb(42, 42, 42) 45%, rgb(24, 24, 24));
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100% auto;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* For WebKit-based browsers and Microsoft Edge */
/* Note: Microsoft Edge also supports the -ms-overflow-style property */
::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background-color: #191919;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
/* Note: Firefox also supports scrollbar-width and scrollbar-color properties */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

*::-moz-scrollbar-thumb {
  background-color: #888;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

*::-moz-scrollbar-track {
  background-color: #f1f1f1;
}